/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    color: #454545;
  }
  
  /* Estilos del tablero */
  .board {
    display: inline-block;
    border: 2px solid #333;
    width: 300px;
    height: 300px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    flex: 1;
    border: 1px solid #333;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* Estilos para las fichas X y O */
  .cell.X {
    color: #E74C3C;
  }
  
  .cell.O {
    color: #3498DB;
  }
  
  /* Estilos para el mensaje de resultado */
  .result {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
  }
  